<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Strikers | Dashboard</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <style>
    .centered-wrapper {
        position: relative;
        text-align: center;
    }
    .centered-wrapper:before {
        content: "";
        position: relative;
        display: inline-block;
        width: 0; height: 100%;
        vertical-align: middle;
    }
    .centered-content {
        display: inline-block;
        vertical-align: middle;
    }
    .navbar-brand
        {
          font-size: 25px;
        }
    .nav-link
        {
          font-size: 25px;
        }

    </style>
</head>
<body class="centered-wrapper">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="{% url 'dashboard' %}">Strikers</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"> (current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'predictor' %}">Predictor</a>
          </li>
            <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard_pdf' %}" target="_blank">Cognos Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>
</header>
 <div class="centered-content" style="position: relative; width: 60%; height: 60%; ">
     <canvas id="season_win"></canvas>
     <h2>IPL winners from 2008 to 2020</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 80%; height: 80%; ">
     <canvas id="matches_win"></canvas>
     <h2>IPL teams with total number of matches won with winning percentage</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 80%; height: 80%; ">
     <canvas id="matches_lost"></canvas>
     <h2>IPL teams with total number of matches lost</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 60%; height: 60%; ">
     <canvas id="player_of_match"></canvas>
     <h2>Top 10 players who won most Player of the match award</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 80%; height: 80%; ">
     <canvas id="venue_india"></canvas>
     <h2>Number of IPL matches played in respective stadiums in India</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 70%; height: 70%; ">
     <canvas id="venue_overseas"></canvas>
     <h2>Number of IPL matches played in overseas stadiums</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 60%; height: 60%; ">
     <canvas id="run_scorer"></canvas>
     <h2>Top run scorer in IPL</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 60%; height: 60%; ">
     <canvas id="wickets_taken"></canvas>
     <h2>Top wicket takers in IPL</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 60%; height: 60%; ">
     <canvas id="toss"></canvas>
     <h2>Does winning toss increases chance of victory(2008-2019)</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 60%; height: 60%; ">
     <canvas id="defending"></canvas>
     <h2>Teams who won most matches while defending(2008-2019)</h2>
     <br>
     <br>
 </div>
  <div class="centered-content" style="width: 60%; height: 60%; ">
     <canvas id="chasing"></canvas>
     <h2>Teams who won most matches while chasing(2008-2019)</h2>
     <br>
     <br>
 </div>
 <div class="centered-content" style="width: 70%; height: 70%; ">
     <canvas id="umpire"></canvas>
     <h2>Attended most matches as an Umpire</h2>
     <br>
     <a href="{% url 'dashboard_pdf' %}" target="_blank"><b><h4>click here to download Cognos dashboard(.pdf)</h4></b></a>
     <br>
 </div>


    <script>
    var colorArray = [
        '#dd0453', '#fdfd05', '#66E64D', '#0660e7', '#9900B3',
         '#d07201', '#14b300','#06d2a6','#f8061a','#c45850',
        '#66664D', '#d6d6d7', '#76008f', '#4DB3FF', '#1AB399',
        '#ec92d1', '#33991A', '#ba8383', '#B3B31A', '#00E680',
        '#4D8066', '#809980', '#E6FF80', '#1AFF33', '#999933',
        '#E64D66', '#4DB380', '#FF4D4D', '#99E6E6', '#6666FF'];

        new Chart(document.getElementById("season_win"), {
        type: 'doughnut',
        data: {
          labels:  ['Mumbai Indians(2013,2015,2017,2019,2020)','Chennai Super kings(2010,2011,2018)','Kolkata Knight Riders(2012,2014)','Rajasthan Royals(2008)','Deccan Chargers(2009)','Sunrisers Hyderabad(2016)'],
          datasets: [{
            label: "",
            backgroundColor: colorArray,
            data: ['5','3','2','1','1','1']
          }]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: ''
          }
        }
    });

    new Chart(document.getElementById("matches_win"),{
    type: 'polarArea',
    data: {
          labels:  ['Mumbai Indians(win %:59.04)','Chennai Super kings(win %:60.27)','Kolkata Knight Riders(win %:51.25)','Rajasthan Royals(win %:50.25)','Deccan Chargers(win %:38.66)','Sunrisers Hyderabad(win %:51.9)','Delhi Capitals(win %:45.5)','Gujarat Lions(win %:45)','Kochi Tuskers Kerala(win %:42.28)','Pune Warriors(win %:26.66)','Punjab Kings(win %:45.45)','Rising Pune Supergaints(win %:50)','Royal Challengers Bangalore(win %:47.98)'],
          datasets: [{
            label: "",
            backgroundColor: colorArray,
            data: ['122','111','100','82','29','66','89','45','6','12','88','15','94']
          }]
        },
    options: {
        responsive: true,
        title: {
                display: true,
                text: ''
                }
            }
    });

    new Chart(document.getElementById("matches_lost"),{
    type: 'radar',
    data: {
          labels:  ['Mumbai Indians','Chennai Super kings','Kolkata Knight Riders','Rajasthan Royals','Deccan Chargers','Sunrisers Hyderabad','Delhi Capitals','Gujarat Lions','Kochi Tuskers Kerala','Pune Warriors','Punjab Kings','Rising Pune Supergaints','Royal Challengers Bangalore'],
          datasets: [{
            label: "Matches lost",
            data: [84,73,95,81,46,61,107,16,8,33,106,15,102],
            fill: true,
            backgroundColor: colorArray,
          }]
        },
    options: {
        responsive: true,
        title: {
                display: true,
                text: ''
                }
            }
    });

    new Chart(document.getElementById("player_of_match"),{
      type: 'bar',
      data: {
          labels:  ['AB de Villiers','Chris Gayle','Rohit Sharma','MS Dhoni','David Warner','Yusuf Pathan','Shane Watson','Suresh Raina','Virat Kohli','Kieron Pollard'],
          datasets: [{
            barPercentage: 0.7,
            barThickness: 60,
            maxBarThickness: 70,
            minBarLength: 2,
            label:'times he won Player of Match',
            backgroundColor: colorArray,
            data: ['24','22','18','17','17','16','16','14','13','13']
          }]
        },
      options: {

          title: {
            display: true,
            text: ''
          }

      }
    });

     new Chart(document.getElementById("venue_india"), {
        type: 'pie',
        data: {
          labels:  ['M. Chinnaswamy Stadium bangalore','Wankhede Stadium Mumbai','Arun Jaitley Ground Delhi','Eden Gardens Kolkata','M. A. Chidambaram Stadium Chennai','Rajiv Gandhi International Cricket Stadium	Hyderabad','PCA Stadium Mohali','Sawai Mansingh Stadium Jaipur','Maharashtra Cricket Association Stadium Pune','DY Patil Stadium Navi Mumbai','Sardar Patel Stadium Ahmedabad','Brabourne Stadium Mumbai','ACA-VDCA Stadium Visakhapatnam','Saurashtra Cricket Association Stadium Rajkot','HPCA Stadium Dharamshala','Holkar Stadium Indore','Barabati Stadium Cuttack','JSCA International Cricket Stadium Ranchi','Raipur International Cricket Stadium Raipur','Jawaharlal Nehru Stadium Kochi','Green Park Stadium Kanpur','VCA Stadium Nagpur'],
          datasets: [{
            label: "",
            backgroundColor: colorArray,
            data: [81,76,72,70,59,56,49,40,38,17,17,11,11,10,9,9,7,7,6,5,4,3]
          }]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: ''
          }
        }
    });

    new Chart(document.getElementById("venue_overseas"), {
        type: 'doughnut',
        data: {
          labels: ['Newlands Cricket Ground Cape town','St Georges Oval Port Elizabeth','Kingsmead Cricket Ground Durban','SuperSport Park	Centurion','Buffalo Park East London','New Wanderers Stadium Johannesburg','De Beers Diamond Oval Kimberley','Chevrolet Park Bloemfontein','Sheikh Zayed Cricket Stadium Abu Dhabi','Sharjah Cricket Stadium Sharjah','Dubai International Cricket Stadium'],
          datasets: [{
            label: "",
            backgroundColor: colorArray,
            data: [7,7,15,12,3,8,3,2,29,18,33]
          }]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: ''
          }
        }
    });

    new Chart(document.getElementById("run_scorer"), {
        type: 'horizontalBar',
        data: {
          labels: ['Virat Kohli',' Shikhar Dhawan',' Suresh Raina',' Rohit Sharma','David Warner','AB de Villiers',' Chris Gayle',' MS Dhoni',' Robin Uthappa',' Gautam Gambhir'],
          datasets: [{
            axis: 'y',
            label: "Runs scored",
            backgroundColor: colorArray,
            data: [6076,5577,5491,5480,5447,5056,4950,4669,4607,4217],
            fill: false,
            }]
        },
        options: {
          indexAxis: 'y',
          responsive: true,
          title: {
            display: true,
            text: ''
          }
        }
    });

    new Chart(document.getElementById("wickets_taken"), {
        type: 'horizontalBar',
        data: {
          labels: ['Lasith Malinga',' Amit Mishra',' Piyush Chawla',' Dwayne Bravo',' Harbhajan Singh',' Ravichandran Ashwin','Bhuvneshwar Kumar',' Sunil Narine',' Yuzvendra Chahal',' Ravindra Jadeja'],
          datasets: [{
            axis: 'y',
            label: "Wickets taken",
            backgroundColor: colorArray,
            data: [170,166,156,156,150,139,139,130,125,120],
            fill: false,
            }]
        },
        options: {
          indexAxis: 'y',
          responsive: true,
          title: {
            display: true,
            text: ''
          }
        }
    });

    new Chart(document.getElementById("toss"), {
        type: 'pie',
        data: {
          labels:  ['won match after winning toss(52.0%)','lost match after winning toss(47.5%)','Tie(0.5%)'],
          datasets: [{
            label: "",
            backgroundColor: colorArray,
            data: [393,359,4]
          }]
        },
        options: {
          responsive: true,
          title: {
            display: true,
            text: ''
          }
        }
    });

    new Chart(document.getElementById("defending"),{
      type: 'bar',
      data: {
          labels:  ['Chennai Super Kings','Deccan Chargers','Delhi Capitals','Gujarat Lions','Punjab Kings','Kochi Tuskers Kerala','Kolkata Knight Riders','Mumbai Indians','Pune Warriors','Rajasthan Royals','Rising Pune Supergiants','Royal Challengers Bangalore','Sunrisers Hyderabad'],
          datasets: [{
            barPercentage: 0.7,
            barThickness: 60,
            maxBarThickness: 70,
            minBarLength: 2,
            label:'Matches won while defending',
            backgroundColor: colorArray,
            data: [52,18,28,1,39,2,36,58,6,29,7,35,30]
          }]
        },
      options: {

          title: {
            display: true,
            text: ''
          }

      }
    });

     new Chart(document.getElementById("chasing"),{
      type: 'bar',
      data: {
          labels:  ['Chennai Super Kings','Deccan Chargers','Delhi Capitals','Gujarat Lions','Punjab Kings','Kochi Tuskers Kerala','Kolkata Knight Riders','Mumbai Indians','Pune Warriors','Rajasthan Royals','Rising Pune Supergiants','Royal Challengers Bangalore','Sunrisers Hyderabad'],
          datasets: [{
            barPercentage: 0.7,
            barThickness: 60,
            maxBarThickness: 70,
            minBarLength: 2,
            label:'Matches won while chasing',
            backgroundColor: colorArray,
            data: [48,11,49,12,43,4,56,51,6,46,8,49,28]
          }]
        },
      options: {

          title: {
            display: true,
            text: ''
          }

      }
    });

    new Chart(document.getElementById("umpire"),{
    type: 'polarArea',
    data: {
          labels:  ['S Ravi','AK Chaudhary','HDPK Dharmasena','C Shamshuddin','M Erasmus','Nitin Menon','CK Nandan','SJA Taufel','CB Gaffaney','Asad Rauf','VA Kulkarni'],
          datasets: [{
            label: "",
            backgroundColor: colorArray,
            data: [127,94,94,89,66,63,59,55,53,51,51]
          }]
        },
    options: {
        responsive: true,
        title: {
                display: true,
                text: ''
                }
            }
    });


    </script>


</body>
</html>